.cart-item-summary-div {
  border-right: solid 1px;
}

.cc-label {
  margin-bottom: 0px !important;
}

.cc-warning, .checkout-disclaimer {
  color: #e60000;
  text-decoration: underline;
  font-style: italic;
  font-size: 1rem;
  cursor: not-allowed;
}

.confirm-icon {
  color: goldenrod;
}

.order-success-modal {
  justify-content: center;
}

.form-feedback {
  font-size: 50%;
}

.error {
  color: red;
  font-style: italic;
  font-size: 14px;
}