.product-image {
  filter: drop-shadow(2px 2px 2px black);
}

.product-title {
  font-weight: 500;
  font-size: 150%;
}

.product-artist {
  color: rgb(68, 65, 65);
}

.product-price {
  color: rgb(68, 65, 65);
}

.product-text {
  font-style: italic;
  color: rgb(68, 65, 65);
}