.check-icon {
  color: green;
}

.modal-close {
  color: red;
}

.modal-body-row {
  justify-content: center;
}

.catalog-btn {
  justify-content: center;
}

.quantity-label {
  justify-content: center;
}

.quantity-input-row {
  justify-content: center;
  align-items: center;
}

.quantity-input {
  width: 50% !important;
}

.quantity-icon {
  line-height: inherit;
}